@import '../../vendor/bootstrap/less/bootstrap.less';
@import 'material-icons.less';

/**
 * Navigation bar
 */
nav.navbar-default {
  background-color: #337AB7;
  border: none;
  border-radius: 0;

  .navbar-brand {
    &, &:hover, &:focus {
      color: white;
    }
  }
}

.sort-icon {
  vertical-align: middle;
}