@import '../../vendor/bootstrap/less/bootstrap.less';
@import 'material-icons.less';

/**
 * Navigation bar
 */
nav.navbar-default {
  background-color: #337AB7;
  border: none;
  border-radius: 0;

  .navbar-brand {
    &, &:hover, &:focus {
      color: white;
    }
  }
}

/**
 * ABN List
 */
.table-wrapper {
  padding: 100px 50px 0;

  > table {
    border: 1px solid black;
    > thead {
      background-color: #61B7CF;
      > tr > th {
        border-bottom: 1px solid black;
        cursor: pointer;
        .column-wrapper {
          .sort-arrows {
            position: relative;
            i.material-icons {
              position: absolute;
              color: #878787;

              &.sort-desc {
                top: 0;
              }
              &.sort-asc {
                bottom: 0
              }
            }
          }
        }

        &.st-sort-ascent .sort-asc, &.st-sort-descent .sort-desc {
          color: #000!important;
        }
      }
    }

    > tbody > tr {
      &:hover, &:focus {
        background: #eee;
      }
      > td {
        border-bottom: 1px solid black;
        cursor: pointer;
      }
    }
  }
}